@font-face {
  font-family: Caveat;
  font-style: normal;
  font-display: fallback;
  font-weight: 500;
  src: url("./node_modules/@fontsource/caveat/files/caveat-latin-500-normal.woff2") format("woff2");
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

html {
  block-size: 100%;
}

body {
  background-color: rgb(240, 240, 240);
  color: rgb(54, 57, 69);
  font-family: Caveat, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-size: calc(2vw + 2vh + 1em);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  filter: drop-shadow(2px 2px rgb(255, 255, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 100%;
  min-inline-size: 320px;
}

:focus {
  outline-color: rgb(155, 183, 212);
  outline-style: dotted;
  outline-offset: 0.2em;
  outline-width: 3px;
}

::selection {
  background-color: rgb(245, 223, 77);
}

main {
  margin: 1rem;
}

p {
  margin-block-start: 0;
}

a:link,
a:visited {
  display: inline-block;
  color: inherit;
  text-decoration-color: rgba(54, 57, 69, 0.5);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.075em;
}

a:focus,
a:hover {
  text-decoration-color: currentColor;
}

.accounts {
  display: flex;
  list-style-type: none;
  margin-block-start: 2rem;
}

.accounts li + li {
  margin-inline-start: 2rem;
}

.accounts img {
  display: block;
  block-size: 1em;
  inline-size: auto;
}
